<?xml version="1.0"?>
<model>
  <name>wamv</name>
  <version>1.0</version>
  <sdf version="1.5">wamv.sdf</sdf>

  <author>
    <name>David Dorf</name>
    <email>ddorf@tritonsys.com</email>
  </author>

  <author>
    <name>Tyler Lum</name>
    <email>tylergwlum@gmail.com</email>
  </author>

  <description>
    MIT's setup of the WAM-V autonomous surface vehicle model.
  </description>
</model>
